---
import BaseLayout from "../../layouts/BaseLayout.astro";
import TimeLineElement from "../../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profil</div>
  </div>

  <div class="mb-10 text-justify">
    Software engineer with over 5 years of experience in software development (C# .NET, Angular). 
    Specializing in managing complex projects in Agile environments, with expertise in key sectors such as healthcare, 
    finance, and education. Passionate about technological innovation, I aim to deliver efficient and tailored solutions 
    to improve system performance.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiences</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Software Engineer"
      subtitle="May 2023 – Present"
      location="Luxembourg Institute of Health"
    >
    As part of the development team at a healthcare institution, I have had the opportunity to work on large-scale projects 
    aimed at improving medical data management. Working in a multicultural environment, I contributed to the design and 
    deployment of software solutions to enhance the performance of hospital services while ensuring compliance with 
    security standards.
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer"
      subtitle="August 2022 – May 2023"
      location="Crédit Mutuel"
    >
    In a context where data security was crucial, I joined a team dedicated to transforming internal processes by making 
    them more flexible and compliant with user requirements. Through microservice architecture, I helped migrate legacy 
    systems to cloud-native solutions, ensuring a high level of security for managing sensitive documents.
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer"
      subtitle="September 2019 – August 2022"
      location="Université de Strasbourg"
    >
    Collaborating with academic and administrative teams, I designed software solutions to optimize interoperability 
    between various student and staff management systems. This project aimed to facilitate secure data exchange within 
    the university and improve internal service efficiency while reducing response times for web applications through 
    the integration of cloud solutions.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Software Engineering Degree"
      subtitle="2022 | Strasbourg, France"
      location="Conservatoire National des Arts et Métiers"
    />
  </div>
</BaseLayout>
