---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Salut 👋</div>
    <div class="text-5xl font-bold">Je suis Adam El Kadaoui</div>
    <div class="text-3xl py-3 font-bold">Software Engineer</div>
    <div class="py-2">
      <p class="text-lg">
        Je travaille à la création de logiciels qui résolvent des problèmes de manière simple et je partage ce que j'apprends en cours de route. 
        J'aime le minimalisme, l'Open-Source et je suis un grand passionné de sport, notamment le football et la course à pied. 
        Un esprit sain dans un corps sain !
      </p>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Mes derniers projets {"</>"}</div>
  </div>

  <HorizontalCard
    title="Alliance Services Propreté"
    img="/post_img.webp"
    desc="Développement d'un site web moderne, intuitif et responsive pour la société Alliance Services Propreté."
    stack="🅰️ Angular 18 • 🔁 RxJS • 🎨 Bootstrap 5"
    url="https://allianceservicesproprete.github.io"
    badge="Nouveau"
  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Projet démo 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Projet démo 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Derniers articles du blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
