<footer class="footer footer-center block mb-5 pt-10">
  <div class="inline opacity-75 font-bold">
    Developed with ❤️ by <a href="https://adamelkadaoui.github.io" target="_blank">Adam El Kadaoui</a>
  </div>
</footer>
