---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Adam El Kadaoui
  </div>
  <div class="inline opacity-75">
    Developed by <a href="https://adamelkadaoui.github.io" target="_blank" class="font-bold">Adam El Kadaoui</a> using
  </div>
</footer>
<style></style>
